<p>add-user works!</p>
<div [hidden]="submitted" style="width: 300px;">
<form (ngSubmit)="onSubmit()">
         
    <div class="form-group">
      <input required [(ngModel)]="user.firstName" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputPassword1" placeholder="First Name">
    </div>
    <div class="form-group">
        <input required [(ngModel)]='user.lastName' [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputPassword1" placeholder="Last Name">
      </div>
      <div class="form-group">
          <input required [(ngModel)]='user.email' [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
    <div class="form-check">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
  <div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
    <button class="btn btn-primary" (click)="newUser()">Add</button>
    <button class="btn btn-primary"  (click)="ViewUser()">View</button>
  </div>
